<td>{{Work_x0020_Order_x0020_Number}}</td>
<td>{{Work_x0020_Order_x0020_Desc}}</td>
<td>{{Operation}}</td>
<td>{{Created}}</td>
<td>{{Modified}}</td>
<td><a href="#/afe/projects/{{Id}}/history" class="js-history">{{status}}</a></td>
<td>
    {{#if allowedToEdit}}
        <button type="button" class="btn btn-default js-edit" role="button">Edit</button>
    {{/if}}
</td>
<td>
    <button type="button" class="btn btn-default js-summary" role="button">Summary</button>
</td>