<div class="row">
    <div class="col-sm-12">
        <h3 class="js-title">Add Sales Entry</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="alert hidden" id="sales-message"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="Operations">Operation</label>
            <select class="form-control" name="Operations" id="sales-operations">
                {{#each operationList}}
                    <option>{{this.attributes.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="Week_Begin">Week Begin</label>
            <input type="text" name="Week_Begin" class="form-control" id="sales-week-begin" value="{{Week_Begin}}">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="Week_End">Week End</label>
            <input type="text" name="Week_End" class="form-control" id="sales-week-end" value="{{Week_End}}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="OData__Comments">Comments</label>
            <textarea class="form-control" rows="8" name="OData__Comments" id="sales-comments">{{OData__Comments}}</textarea>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="Actual_Tons">Actual Tons</label>
            <input type="text" class="form-control js-input" name="Actual_Tons" id="sales-beginning-pit"
                   placeholder="0" value="{{Actual_Tons}}">
        </div>
        <div class="form-group">
            <label for="Forecast_Tons">Forecast Tons</label>
            <input type="text" class="form-control js-input" name="Forecast_Tons" id="sales-tons-uncovered"
                   placeholder="0" value="{{Forecast_Tons}}">
        </div>
        <div class="form-group">
            <label for="Budget_Tons">Budget Tons</label>
            <input type="text" class="form-control js-input" name="Budget_Tons" id="sales-tons-produced"
                   placeholder="0" value="{{Budget_Tons}}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <button type="button" class="btn btn-default btn-block js-cancel" id="sales-cancel">Cancel</button>
    </div>
    <div class="col-sm-offset-6 col-sm-2">
        <button type="button" class="btn btn-danger btn-block js-delete" id="sales-delete">Delete</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block js-save" id="sales-save">Save</button>
    </div>
</div>
{{#if Id}}
    <input type="hidden" name="Id" id="sales-id" value="{{Id}}">
{{/if}}